<IfModule mod_negotiation.c>
Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /2024/project3/t8/

# Allow direct access to assets
RewriteCond %{REQUEST_URI} !^/2024/project3/t8/assets/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /2024/project3/t8/index.html [L]
</IfModule>
